
.expense-item{
    display: flex;
    background-color: #948b8b;
    height: 80px;
    overflow: auto;
}
.expenseDate,.expenseName,.expensePrice,.LocationOfExpenditure,.date{
flex: 1;
padding-top: 15px;
padding-left: 15px;
margin: 10px;
border: 1px solid rgb(114, 40, 40);
box-sizing: border-box;
background-color: aqua;
color: black;
border-radius: 10px;

}

